<html>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
	<h1>Maverick Coffee Menu</h1>

	<a href='{{url_for('newMenu')}}''>Create a new menu</a>

	<div class="container">
		<div class="row">
		{% for x in menu_id %}
			<div class="col-md-3">
				<div class="well">
					<a href="{{url_for('allMenuItem', menu_id = x.id)}}">{{x.name}}</a>
					<br>
					<a href="{{url_for('editMenu', menu_id = x.id)}}">edit</a>
					<a href="{{url_for('deleteMenu', menu_id = x.id)}}">delete</a>

				</div>
			</div>
		{% endfor %}
		</div>
	</div>


</body>

</html>